* {
    box-sizing: border-box;
    margin:0;
}

html {
    background-color: #c0e5f5;
    color: #336e80;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-width: 320px;
}

footer {
    display: flex;
    justify-content: space-around;
}
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    text-align: center;
    
    width: 100vw;
    min-width: 320px;
    padding: 0 15vw;
    
    background-color: #ffffff;
    box-shadow: 0px 4px 2px #adcfdd;
}


#header h1 {
    font-size: calc(1.3rem + 1vw);
    margin-right: 5vw;
    /* padding: .1rem 20px;
    margin: 0 ;
    min-width: fit-content;
    border: none; */
}

.gameinfo {
    width: fit-content;
    text-align: center;
    margin: 1rem auto 2rem auto;
    font-size: calc(.5rem + 2vw);
    background-color: #ffffff;
    box-shadow: 4px 4px 2px #adcfdd ;
    border-radius: 1rem;
    padding: .3rem clamp(.4rem, 3vw, 2.8rem);
}

#header .nav {
    display: inline;
    min-width: 2rem;
    width: 10vw;
    position: relative;
    font-size: calc(1rem + 1vw);
    padding: .6rem 0;
    text-decoration: none;

}

#header .nav:hover {
    background-color:#336e80;
}

.container { 
    display: grid;
    gap: 1.8rem;
    justify-content: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: 90vw;
    align-items: center;
    overflow: visible;    
    height: 100%;
    min-width: 320px;
}

.container > * {
    touch-action: none;
    min-width: 400px;
}

#svgobject {
    touch-action: none;
}

.fieldlayer {
    grid-area: 1/1/2/2;
    width: 80%;
    align-self: center;
    justify-self: center;
    touch-action: none;
}

.background {
    width:90vw;
    background-image: url(./resources/backdrop5.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.bordered {
    border:clamp(3px, 0.5vw, 12px) solid white;
    border-radius: 30px;
    box-shadow: 8px 8px 4px #adcfdd ;
    height: 105%;
}

#guesses {
    display: grid;
    grid-area: 2/1/3/2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    gap: .75rem;
    text-align: center;
    padding: 1rem .5rem;
    width: 30vw;
    justify-self: center;
    font-size: calc(.4rem + 1vw);
    max-height: 100%;
    min-width: 240px;
}

.guess {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 2fr;
    height: 2rem;
    min-width: 5rem;
    align-items:center;
    overflow:hidden;
    
    background-color: #ffffff;
    box-shadow: 4px 4px 2px #adcfdd ;
    border-radius: .5rem;
    
    font-size: calc(.5rem + .4vw);
    font-weight: bold;
}

.share {
    display: none;
    grid-template-columns: 1fr;
    text-align: center;
    vertical-align: middle;
    background-color: lime;
    color: #016401;
    border: #02c302 2px solid;
}

.share:hover {
    background-color: #016401;
    color: lime;
    transform: scale(0.98);
    cursor: pointer;
}


#pointers {
    pointer-events: none;
}


.overlay {
    display: none;
    position: absolute;
    left:0;
    right:0;
    top:20vh;
    margin: 0px auto;
    min-width: 320px;
    max-width: 80vw;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    text-align: center;
    padding:2rem;
    padding-bottom: .5rem;
    border-radius: 2rem;
    border: black 1px solid;

    font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
}

.score {
    width: 40vw;
    padding: 0 1rem 1rem 1rem;
}

footer {
    position: fixed;
    display:block;
    font-size: .7rem;
    bottom:0.2rem;
    left:0.2rem;
}

dl {
    display: block;
    width: 90%;
    position: relative;
    padding-left: 20px;
    margin: 0px auto;
    background-color: #adcfdd68;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 20px;
}
  
dt {
    align-self: flex-start;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 20px;
}

.graphtext {
    font-weight: 600;
    align-items: center;
    height: 40px;
    width: 3rem;
    position: absolute;
    left: 0;
    justify-content: flex-start;
    margin-left: 2rem;
}

.percentage {
    width: 50%;
    height: 40px;
    margin: 4px auto 0px auto;
    
}

#percentage-1, #percentage-2, #percentage-3, #percentage-4, #percentage-5, #percentage-6, #percentage-7 {
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    background-color: #336e80;
    color: white;
    font-weight: 700;
    align-self: center;
    padding: auto 0px;
    width: 100%;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}   


@media only screen and (min-width: 1800px) {
    #guesses {
        grid-template-rows: 6rem 3rem;
        gap: 1rem .75rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        
    }

    .guess {
        height:6rem;
    }

    .share {
        grid-area: 2/3/3/5;
        height: 3rem;
    }

    .overlay {
        text-align: center;
    }
}